.thingsLearned {
	border-bottom: 2px solid red;
}

.btn-info {
  background-color: red;
}

.btn-info:hover {
  background-color: #000;
}

.btn-info:focus:active {
  background-color: red;
}

/* Background classes
=================================== */

.ash-bg {
  background-image: url("../images/ash.jpeg");
  background-position: center;
  background-size: cover;
}